{
    "swagger": "2.0",
    "host": "api.mypurecloud.com",
    "tags": [
        {
            "name": "Analytics",
            "description": "Analytics querying, alerting, and reporting.",
            "externalDocs": {
                "description": "analytics docs",
                "url": "https://developer.mypurecloud.com/analytics"
            }
        }
    ],
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/api/v1/outbound/campaigns/{campaignId}": {
            "get": {
                "tags": [
                    "Analytics"
                ]
            }
        },
        "/api/v1/telephony/bootstrap/phones/{id}/{path}/{file}": {
            "get": {
                "tags": [
                    "Analytics"
                ]
            }
        },
        "/api/v1/outbound/campaigns/{campaignId}/somethings/{somethingid}": {
            "get": {
                "tags": [
                    "Analytics"
                ]
            }
        },
        "/api/v1/users/someuser/{id}": {
            "get": {
                "tags": [
                    "Analytics"
                ]
            }
        },
        "/api/v1/outbound/duplicate/Route": {
            "get": {
                "tags": [
                    "Analytics"
                ]
            }
        },
        "/api/v1/inbound/duplicate/Route": {
            "get": {
                "tags": [
                    "Analytics"
                ]
            }
        },

        "/api/v1/test/httpmethod": {
            "get": {
                "tags": [
                    "Analytics"
                ]
            },
            "post": {
                "tags": [
                    "Analytics"
                ]
            },
            "patch": {
                "tags": [
                    "Analytics"
                ]
            },
            "put": {
                "tags": [
                    "Analytics"
                ]
            },
            "delete": {
                "tags": [
                    "Analytics"
                ]
            }
        }
    },
    "externalDocs": {
        "description": "PureCloud API Documentation",
        "url": "https://developer.mypurecloud.com"
    }
}
